name: Build and Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      tag: ${{ github.ref_name }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: main
      #- name: Set Up Flutter
      #  uses: subosito/flutter-action@v2
      #  with:
      #    flutter-version-file: pubspec.yaml
      #    channel: 'stable'
      #- name: Install Fastforge
      #  run: dart pub global activate fastforge 0.6.6
      #- name: Install build dependencies
      #  run: sudo apt-get install clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev
      #- name: Package
      #  run: fastforge release --name prod
      - name: Release
        run: |
          execFile=$(find . -type f -name 'go_todo*.deb' -o -name 'go_todo*.apk')
          echo ${{ github.token }}
          gh release create $tag \
            --repo="$GITHUB_REPOSITORY" \
            --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
            --generate-notes
          gh release upload $tag $execFile
